<div id="cartWidget" class="cart-widget">
    <div class="card-header">
      Shopping Cart
    </div>
    <button class="close-button" (click)="closeCartWidget()">X</button>

    <div class="empty-div" *ngIf="cartItems.length === 0; else cartNotEmpty">
      <p class="empty-cart">The cart is empty!</p>
    
      <button class="btn" routerLink="/Home">Shop now</button>
    </div>
    
    <ng-template #cartNotEmpty>
      <div *ngFor="let item of cartItems" class="cart-item">
        <!-- Display cart item details -->
        <img [src]="item.image" [height]="80" [width]="80">
        <b>{{ item.courseName }}</b> - {{ item.actualPrice | currency: 'INR' }}
      </div>
      <div class="total-cost">
        Total: {{ getTotalCost() | currency: 'INR' }}
      </div>
      <div class="card-footer">
        <button class="btn" (click)="goToCheckout()">GO TO CHECKOUT</button>
      </div>
    </ng-template>

  </div>