/* .main-page-container {
    width: fit-content;
} */

/* styles.css */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal.is-active {
    display: flex;
  }
  
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .modal-close::before,
  .modal-close::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 20px;
    background-color: #333;
  }
  
  .modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }
  