
  
   <div class="about-us-banner">
    <div class="about-us-banner-layover">
        <h1>Discover Latest Courses on React</h1>
    </div>
    </div>
  
  <nav>
    <a routerLink="/">All Courses</a> /
    <span>{{ selectedCourse.courseName }}</span>
  </nav>


<div class="courses-detail-main-container">
    <div class="course-detail-container">
        <div class="course-details">
            <div class="course-banner">
                <img [src]="selectedCourse.image" class="course-banner-image">
            </div>
            <div class="course-title">
                <h1>{{ selectedCourse.courseName }}</h1>
            </div>
            <div class="course-info">
                <div class="course-info-author"><b>Author: </b>{{ selectedCourse.author }}</div>
                <div class="course-info-author"><b>Price: </b>{{ selectedCourse.actualPrice | currency:'INR' }}</div>
                <div class="course-info-author"><b>Discount: </b>{{ selectedCourse.discountPercentage }}%</div>
                <div class="course-info-author"><b>Final Price: </b>{{ selectedCourse.actualPrice - ((selectedCourse.discountPercentage/100) * selectedCourse.actualPrice) | currency:'INR' }}</div>
            </div>    
            <div class="course-desc">
                <ul class="tags green" *ngFor="let tag of selectedCourse.tags">
                    <li><span>{{ tag }}</span></li>
                </ul>
            </div>      
        </div>

        <div class="course-action-items">
            <div class="side-bar-banner">
                <h2>Get Flat {{selectedCourse.discountPercentage}}% Off on this course.</h2>
            </div>
            <div class="course-price-discount">
                <span style="font-size: 24px; font-weight: bold; color: #222; margin:0px 5px;">{{ courseDiscountPrice | currency: 'INR' }}</span>
                <span style="font-size: 18px; font-weight: bold; color: #444; margin:0px 5px;"><s>{{ selectedCourse.actualPrice | currency: 'INR' }}</s></span>
                <span style="font-size: 18px; color: #222; margin:0px 5px;">{{selectedCourse.discountPercentage}} OFF</span>
                <div class="offer-timer">
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i><b> 1 Day</b> left at this price.</p>
                </div>
            </div>
        </div>
    </div>    
</div>
