.home-page-banner{
    /* background-color: #28282B; */
    background-color: #235c5c;
    /* padding: 100px 50px; */
    padding: 40px 40px;
}
.home-page-banner-slogan{
    /* width: 600px; */
    color: white;
    /* margin: 20px auto; */
    margin: 20px 60px;
}

.home-page-banner-search{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.search-input{
    width: 500px;
    height: 38px;
    padding: 10px 30px;
}
.search-button{
    padding: 6px 20px;
    height: 38px;
    border: none;
    margin-left: 12px;
    background-color: #FF5733;
    color: white;
}
h1, p{
    margin: 10px 0px;
}